-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.label :content
    = f.text_area :content, id: 'ckeditor-lessons'
    = f.error :content, class: 'text-danger'
    = f.input :course_id, input_html: {value: @course.id}, as: :hidden

  .form-actions
    = f.button :submit

:javascript
  ClassicEditor.create(document.querySelector('#ckeditor-lessons'));