.card
  .card-header
    = link_to lesson.title, [lesson.course, lesson]
  .card-body
    = lesson.content.html_safe
    = lesson.course.title
  - if current_user && policy(lesson).edit?
    .card-footer
      = link_to 'Edit', edit_course_lesson_path(lesson.course, lesson), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', [lesson.course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
