.col-12.mb-5
	.card 	
		.card-header
			.fa.fa-graduation-cap
			= link_to course.title, course_path(course)
		.card-body
			= course.short_description
		.card-footer.d-flex.justify-content-between
			.div
				.fa.fa-book
				= course.lessons.count
			.div
				.text-center
					= number_to_currency(course.price)
		.card-footer.d-flex.justify-content-between
			.div
				.fa.fa-globe-africa
				= course.language.humanize
			.div
				.fa.fa-signal
				= course.level.humanize
		.card-footer.d-flex.justify-content-between
			.div
				.far.fa-clock
				= course.created_at.strftime('%d %b %Y')
			.div
				.fa.fa-chalkboard-teacher
				= course.user.email

		- if current_user && policy(course).edit?
			.card-footer 
				= link_to 'Show', course, class: 'btn btn-sm btn-info text-white'
				= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-success text-white'
				= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-secondary text-white'
