-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    %br
    = f.label :description
    = f.text_area :description, id: 'ckeditor-courses'
    = f.error :description, class: 'text-danger'
    %br
    = f.input :short_description
    %br
    = f.input :language, as: :select, collection: @languages, label_method: :first, value_method: :first, include_blank: false, selected: @course.language
    %br
    = f.input :level, as: :select, collection: @levels, label_method: :first, value_method: :first, include_blank: false, selected: @course.level
    %br
    = f.input :price
    %br

  .form-actions
    = f.button :submit, class: 'btn btn-outline-success'

:javascript
  ClassicEditor.create(document.querySelector('#ckeditor-courses'));
