%header.bg-white.text-dark.border-bottom.header-logo
  %div.me-4
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      %a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none.me-5{ href: '/' } 
        = image_tag 'https://i.ibb.co/MgcBxQ9/logo-udemy-clone.png', width: 91, height: 34
      - if current_user
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            = link_to root_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(root_path)}" do
              .fa.fa-home
              Home
          %li
            = link_to courses_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(courses_path)}" do
              .fa.fa-graduation-cap
              Courses
          %li
            = link_to new_course_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(new_course_path)}" do
              .fa.fa-plus 
              New Course
          %li
            = link_to users_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(users_path)}" do
              .fa.fa-users 
              Users

        = form_tag courses_path, method: :get, class: 'col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3' do
          = text_field_tag :title, params[:title], placeholder: 'Search', class: 'form-control form-control-dark text-white bg-dark'

        .dropdown.text-end
          %a#dropdownUser1.d-block.link-dark.text-dark.text-decoration-none.dropdown-toggle{'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', href: '#'}
            = current_user.email
          %ul.dropdown-menu.text-small{'aria-labelledby': 'dropdownUser1'}
            %li
              = link_to edit_user_registration_path, class: 'dropdown-item' do
                %i.fa-solid.fa-cog
                Account Settings
            %li
              = link_to destroy_user_session_path, class: 'dropdown-item d-inline', method: :delete do
                %i.fa-solid.fa-sign-out-alt
                Sign Out

      - else
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link px-2 text-secondary'
          %li
            = link_to 'Log In', new_user_session_path, class: 'nav-link px-2 text-secondary'
