%header.py-3.px-1.bg-white.text-dark.border-bottom
  %div.me-4.ms-4
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      %a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none.me-5{ href: '/' } 
        = image_tag 'https://bucketfree-images.s3.us-east-2.amazonaws.com/logo-udemy-clone.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXNhLWVhc3QtMSJGMEQCIGD51jEz32sJWpF6Kx5pcuzd1q0I1xYWV6jWW%2B97rKbQAiA5DyIWFnNgwQqX%2F5tIlXA3gO%2Fpuftb4jJjqs3WH7rgOyrtAgjl%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAEaDDUwNjQ0ODcwMjE5MyIMLDN1so8lPUpQbR4qKsEC9LD8TsmzpHbGtBmzjuSqBGEiJbP30XxV3enJp0DZw5r8ULL2fVEzz3Hj9N9oONC6MEXwODdA2X%2F0VTbc0N0I1ZnWoUCxtii%2Fq8usnoo8UTO76zgtlRoGtPHV%2BIsktPi%2FM5zzuzeCAk8l%2FT078ce1cXAM4IyndNQa5vAR6LC2qWFN3q4ekVEkzb7l%2FBxy%2FwUfHebV5Pclqse7Xd7uAvCpP3wcTehAFYxBCM7tXzo6df62eOONL8yfdw53ODufOmUe516NvPt6HpdnEOk4%2FdpXMniVcgbCcLIBDlpfwFBJE%2BpySnGCfug61SrjF%2FnaHvwb6jn5eJO0vjUKtwCgFp3ZXRF0DIS6rRT%2F2WYldDmwMiY%2BYNjEauZWwq5ZNwVKUX7YwIt1BdCzHmZsJ2ARbEB5KJe7rFT%2FlHkCXVMEcN4BuItfMO2ItJUGOrQCXXrVlmYwTc2uo83k3rBlVaKQpphSzo263QxvAhNDISYB74BWtYSjk6o4emI87t2S%2FclsZnHEP7bfmdp%2BCX9ZbUBpnoJORZAAt2Z7fqe8%2F6LTFGXLIX%2FxG58HYx72On1FQWpAWqYYPa4e9%2BZPEOS1QDliWuVmAfzN2qXS852F9XGk4Bw84hSwQnD0rmzYMM3yrRNIR%2BotMXhyxSWqCkmGcRtqmEX2LNE8s%2BFVGadGzNrixIhqVrEFbEJLjm0BZg0zCvqWajYQAyi9Mm0QTpwS0Mi4xD7UDIwyL2HKS3fe99FkRislOksaUKhr1DvTi0A0lWWHA%2F1rYvvtKi0urgxjmmNP2uE%2FJ0qKM2QcVSCXX9CJJmFnlnJJrPWaCHxfBiz9T%2FVz9Y9%2BUNT7%2BtqsErF0Xi9Mx0g%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220618T035547Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAXL2VR5LY6VF5QDNU%2F20220618%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=79eee121fc45e3416bddcdaed03234e80176c93f7825923df3b2511d5b787a4b', width: 91, height: 34
      - if current_user
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            = link_to root_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(root_path)}" do
              .fa.fa-home
              Home
          %li
            = link_to courses_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(courses_path)}" do
              .fa.fa-book
              Courses
          %li
            = link_to new_course_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(new_course_path)}" do
              .fa.fa-plus 
              New Course
          %li
            = link_to users_path, class: "nav-link px-2 text-secondary fs-5 #{set_active(users_path)}" do
              .fa.fa-users 
              Users

        = form_tag courses_path, method: :get, class: 'col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3' do
          = text_field_tag :title, params[:title], placeholder: 'Search', class: 'form-control form-control-dark text-white bg-dark'

        .dropdown.text-end
          %a#dropdownUser1.d-block.link-dark.text-dark.text-decoration-none.dropdown-toggle{'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', href: '#'}
            = current_user.email
          %ul.dropdown-menu.text-small{'aria-labelledby': 'dropdownUser1'}
            %li
              = link_to edit_user_registration_path, class: 'dropdown-item' do
                %i.fa-solid.fa-cog
                Account Settings
            %li
              = link_to destroy_user_session_path, class: 'dropdown-item d-inline', method: :delete do
                %i.fa-solid.fa-sign-out-alt
                Sign Out

      - else
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link px-2 text-secondary'
          %li
            = link_to 'Log In', new_user_session_path, class: 'nav-link px-2 text-secondary'
