!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Udemy - Clone
    %script{:src => "https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    .gradient-top
    = render 'layouts/header'
    = render 'layouts/messages'
    .container.mt-3
      = yield
